body {
    background-color: rgb(104, 196, 239);
    background-image: url(/images/nature_background.png);
    background-size: cover;
}
ul.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
} 
